version: "3"
services:
  app:
    container_name: app
    restart: always
    image: devs/api
    ports:
      - "80:3000"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - "27018:27017" 
